In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('battery.csv')
data

                      address  lattitude   longitude
0          대구광역시 달서구 진천로9길 33  35.812220  128.522807
1        대구광역시 서구 국채보상로36길 39  35.867609  128.553406
2          대구광역시 중구 남산로13길 17  35.861833  128.582565
3          대구광역시 서구 달서로45길 30  35.884213  128.570037
4    대구광역시 중구 달구벌대로445길 44-10  35.865735  128.608631
..                        ...        ...         ...
167     대구광역시 중구 국채보상로 679-11  35.871077  128.606300
168          대구광역시 서구 평리로 215  35.863366  128.548507
169      대구광역시 서구 국채보상로37길 35  35.874866  128.551781
170        대구광역시 중구 명륜로26길 69  35.858188  128.598720
171        대구광역시 중구 경상감영길 290  35.873099  128.603967

[172 rows x 3 columns]

In [7]:
data

                      address  lattitude   longitude
0          대구광역시 달서구 진천로9길 33  35.812220  128.522807
1        대구광역시 서구 국채보상로36길 39  35.867609  128.553406
2          대구광역시 중구 남산로13길 17  35.861833  128.582565
3          대구광역시 서구 달서로45길 30  35.884213  128.570037
4    대구광역시 중구 달구벌대로445길 44-10  35.865735  128.608631
..                        ...        ...         ...
169      대구광역시 서구 국채보상로37길 35  35.874866  128.551781
170        대구광역시 중구 명륜로26길 69  35.858188  128.598720
171        대구광역시 중구 경상감영길 290  35.873099  128.603967
172         대구 북구 경북대학교 IT4호관  35.888303  128.610922
173         대구 북구 경북대학교 IT4호관  35.888303  128.610922

[174 rows x 3 columns]

In [9]:
data = data.drop(index=173)
data

                      address  lattitude   longitude
0          대구광역시 달서구 진천로9길 33  35.812220  128.522807
1        대구광역시 서구 국채보상로36길 39  35.867609  128.553406
2          대구광역시 중구 남산로13길 17  35.861833  128.582565
3          대구광역시 서구 달서로45길 30  35.884213  128.570037
4    대구광역시 중구 달구벌대로445길 44-10  35.865735  128.608631
..                        ...        ...         ...
168          대구광역시 서구 평리로 215  35.863366  128.548507
169      대구광역시 서구 국채보상로37길 35  35.874866  128.551781
170        대구광역시 중구 명륜로26길 69  35.858188  128.598720
171        대구광역시 중구 경상감영길 290  35.873099  128.603967
172         대구 북구 경북대학교 IT4호관  35.888303  128.610922

[173 rows x 3 columns]

In [10]:
data.to_csv('battery.csv', index=False, encoding='utf-8')